body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

ul {
  list-style-type: none;
}

#backgroundDivContainer {
  background-color: #000000 ;
  margin: 0%;
  position:  absolute;
}

.headerDiv {
  background-color: #ffffff;
  width: 80%;
  margin-left: 10%;
  padding-top: 15px;
  padding: 0px;
}

#headerLogo {
  padding-top: 10px;
  margin-left: 48%;
  height: 100px;
}

.headerDiv h1 {
  margin-left: 36%;
}

.headerDiv h3 {
  margin-left: 50%;
}

.headerDiv ul {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333333;
  text-align: center;
  margin: 0px;
  padding-left: 0px;
}

.headerDiv li {
  display: inline-block;
  padding-left: 5%;
}

.headerDiv li a {
  color: white;
  text-decoration: none;
}

.headerDiv li a:hover {
  background-color: #111111;
}

#banner {
  margin-top: 0px;
  width: 100%;
}

.bodyDiv {
  background-color: #ffffff;
  width: 80%;
  margin-left: 10%;
}

.bodyDiv ul {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.listItemImage {
  width: 50%;
  display: inline;
  list-style: none;
}

.mainBodyImage {
  width: 30%;
  box-shadow: 0px 2px 8px black;
}

.descriptionList {
  padding-left: 25px;
}

.descriptionList li {
  display: inline-block;
  width: 30%;
  margin-left: 8px;
}

.descriptionList p {
  margin-top: 0px;
}

.footerInformation {
  background-color: #4d4d4d;
  width: 80%;
  margin-left: 10%;
  padding: 0.1px;
}

.footerInformation h3 {
  text-align: center;
}

.footerInformation p {
  text-align: center;
}

#copyrightTagline {
  text-align: right;
  margin-right: 10px;
  font-size: 10;
}
